@import './var-fonts-mix';

nav {
  position: fixed;
  z-index: 100;
  top: 0;
  left: -100vw;
  width: 100%;
  height: 100vh;
  background-color: $light;
  color: $dark;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 1s;

  &.active {
    left: 0;
  }

  ul {
    width: 100%;
    height: 100vh;
    padding: 150px 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    li a {
      text-decoration: none;
      font-size: 40px;
      transition: 0.5s;
      color: $dark;
      @include font-body(500);

      &:hover {
        color: $blue;
      }
    }
  }
}

.hamburger {
  position: fixed;
  z-index: 150;
  background-color: transparent;
  transform: rotate(0deg);
  transition: .8s ease-in-out;
  margin: 50px;
  width: 45px;
  height: 30px;
  cursor: pointer;

  span {
    display: block;
    position: absolute;
    z-index: 150;
    height: 2px;
    background: $light;
    border-radius: 2px;
    left: 0;
    transform: rotate(0deg);
    transition: .5s ease-in-out;

    &:nth-child(1) {
      top: 0;
      width: 45px
    }

    &:nth-child(2) {
      top: 9px;
      width: 35px;
    }

    &:nth-child(3) {
      top: 18px;
      width: 40px;
    }
  }
}
.hamburger.open span:nth-child(1) {
    transform: rotate(45deg);
    top: 0;
    left: 8px;
    background: $dark
  }
  .hamburger.open span:nth-child(2) {
    width: 0%;
    opacity: 0;
  }
  .hamburger.open span:nth-child(3) {
    transform: rotate(-45deg);
    top: 0;
    left: 8px;
    width: 45px;
    background: $dark;
  }

.intro {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  background-color: $dark;
  color: $light;
  @include flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;

  .top-contact-logo {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    padding-top: 40px;
    width: 100%;
    height: 100vh;

    .top-contact {
      display: flex;
      justify-content: flex-end;
      margin-right: 50px;
      width: 100%;

      a {
        text-decoration: none;
        color: $light;
        background-color: $blue;
        border-radius: 5px;
        font-size: 16px;
        padding: 10px 20px;
        @include font-body(500);
        transition: 1s;

        &:hover {
          background-color: $light;
          color: $blue;
          letter-spacing: 3px;
        }
      }
    }

    .top-logo-container {
      @include flex;
      width: 100%;

      span {
        height: 2px;
        background-color: $light;
        flex: 1;
      }

      #top-logo {
        flex-shrink: 0;
        margin: 0 20px;
        width: 5vw;
      }
    }
  }
  .developer-container {
    @include font-header;
    position: absolute;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    margin-top: 100px;
    height: 90%;
    width: 100%;
    top: 0;

    .web {
      font-size: 10vw;
      letter-spacing: -2px;
      left: 0;
      padding: 2vh 7vw;
      background-color: $blue;
      color: $light;
      transition: 1s ease-in-out;

      &:hover {
        margin-left: 5%;
        cursor: pointer;
      }
    }

    .developer {
      color: $light;
      font-size: 21vw;
      letter-spacing: -5px;
      @include flex;
      width: 100%;
      height: auto;
    }
  }
}